$sunglow:#F2CD5D;
$sunglowDark:#f3bc17;
$blue:#02B6DE;
$blueDark:#02A5CA;
$purple:#B721FF;
$purpleDark:#A700F5;
$green:#041B15;
$white:#FFF;
$black:#1B1B1E;


$gradient:linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);