// MAIN

.main {
    height: 50vh;
}

.feature-plan {
    height: 100%;
    // width: 100%;
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: center;
    // justify-content: center;

    &__img {
        width: 100%;
    }


}

.countdown {
    text-align: center;

    &__title {
        visibility: hidden;
        margin-bottom: 2rem;
    }
}

// class for active and not active items 
.active {
    visibility: visible;
}